body {
  background-color: #efe6a3;
}

.button {
  padding: 20px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: #fffad5;
  background-color: #ab980a;
}

.button:hover {
  background-color: #948409;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.grid-container {
  display: flex;
}

.side {
  width: 300px;
}

.score {
  color: #887a12;
  padding: 10px;
  text-align: center;
}

.score-title {
  font-size: 24px;
}

.score-value {
  font-size: 80px;
  font-weight: bold;
}

.game-title {
  color: #887a12;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.game-description {
  color: #887a12;
  font-size: 16px;
  text-align: center;
  margin-bottom: 200px;
}

.game-instruction {
  color: #887a12;
  font-size: 18px;
  text-align: center;
}
